/**
* Theme: Paper
* Author: Rohit kumar
* Description: A simple blog theme
* version: .5
* Happy blogging
**/
/*
Reset css
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong {
  font-weight: bold;
}

.content {
  background: whitesmoke;
}

.wrap-inner {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  background: white;
  border-color: red;
  border: solid #980000;
  border-width: 2px 2px;
}

.flex-container {
  display: flex;
}

.match {
  margin: 4px 4px 4px 4px;
}

.match-summary {
  width: 128px;
}

.match-stats {
  width: 128px;
}

.match-items {
  width: 72px;
  height: 48px;
  display: flex;
  flex-wrap: wrap;
}

.match-participants {
  width: 512px;
}

.match-participant {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.win {
  background-color: #bdfce5;
}

.lose {
  background-color: #fcbdbd;
}

.player-column {
  width: 46%;
  margin-left: 2%;
  margin-right: 2%;
  display: inline-block;
  overflow: hidden;
}

.item-img {
  width: 24px;
  height: 24px;
  display: inline-block;
}

.champ-img {
  width: 64px;
  height: 64px;
  display: inline-block;
}

.participant-img {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 4px;
}

.item-container {
  display: flex;
  width: 72px;
}

/* activity indicator */
.lds-dual-ring {
  display: inline-block;
  width: 46px;
  height: 46px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 23px;
  height: 23px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #666;
  border-color: #666 transparent #666 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
